// place your custom styles here

.vp-blog-hero-title {  
    color: black;
    font-weight: bolder;
    
}; 

.vp-blog-hero-description {
    font-weight: bolder;
    color: black;
};
  
// icon color: #65ecd1